* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

.padding-site {
  padding: 0 475px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2, h3, h4 {
  font-family: 'Poppins';
}

h3 {
  color: #f44336;
  font-size: 36px;
}

/* .main {
  height: 500px;
} */

.container {
  width: 1920px;
  margin: 0 auto;
  margin-right: 0;
}

/*хедер*/
.intro {
  height: 725px;
  background-image: url(../img/intro-back.png);
}

.header {
  height: 83px;
  position: relative;
  top: 13px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-logo, .header-contacts, .header-search {
  position: absolute;
}

.header-logo {
  top: 19px;
}

.header-contacts {
  left: calc(475px + 169px + 158px);
}

.contacts-list {
  float: left;
  position: relative;
}

#phone {
  list-style: url(../img/phone.png);
  margin-right: 64px;
  top: 28px;
}

#mail {
  list-style: url(../img/email.png);
  top: 32px;
}

.header-search {
  right: 474px;
  outline: 1px solid white;
  width: 208px;
  height: 38px;
  top: 23px;
}

.search {
  background-color: rgba(0, 0, 0, 0.0);
  resize: none;
  width: 141px;
  height: 38px;
  border: none;
  border-right: 1px solid white;
  padding-left: 16px;
  float: left;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: white;
}

.search-action {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  width: 50px;
  height: 38px;
  padding: 10px 15px 9px 17px;
}

.search-action:focus {
  outline: none;
}

/*меню*/
.intro-menu {
  border-bottom: 1px solid white;
  width: 970px;
  margin-top: 48px;
}

.menu {
  margin: 0 auto;
  position: relative;
  left: 25%;
}

.menu-list {
  list-style: none;
  float: left;
  margin-right: 30px;
}

.menu-list:last-child {
  padding-right: 0;
}

.menu-list a {
  text-decoration: none;
  color: black;
}

.menu-list-active {
  padding-bottom: 30px;
  border-bottom: 3px solid white;
}

.menu-list-active a {
  font-weight: 700;
  color: white;
}

/*текст*/
.intro-text {
  margin-top: 134px; 
  text-align: center;
  color: white;
  margin-bottom: 75px;
}

.text-content {
  font-size: 18px;
  margin-bottom: 91px;
  padding-bottom: 16px;
  display: inline-block;
  border-bottom: 2px solid white;
}

.text-header h2 {
  font-size: 60px;
}

/*cоц.сети*/
.intro-social {
  text-align: center;
}

.social-links {
  display: inline-block;
  padding: 13px;
  width: 19px;
  border: 1px solid white;
  border-radius: 50%;
}



/*о нас*/
.main {
  padding-top: 81px;
}

.main-about {
  margin-bottom: 81px;
}

.main-about img[alt="about"] {
  float: right;
}

.main-about h3 {
  margin-bottom: 35px;
}

.main-about p {
  font-size: 12px;
  line-height: 24px;
  max-width: 398px;
}

/*сервисы*/
.main-services {
  background-color: #f7f7f7;
  margin: 0 -475px;
  padding-bottom: 38px;
}

.main-services>h3 {
  text-align: center;
  padding-top: 92px;
  margin-bottom: 87px;
}

.main-services .table-services{
  margin: 0 auto;
}

.main-services tr:first-child td:first-child h4 {
  color: #f44336;
}

.main-services td h4 {
  margin-bottom: 18px;
}

.main-services td:first-child {
  text-align: right;
  padding-right: 66px;
}

.main-services td:last-child {
  padding-left: 68px;
}

.main-services td p, .main-services td img {
  max-width: 282px;
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 73px;
}

.main-services td:nth-child(2) {
  padding-right: 90px;
}

/*галерея*/
.main-gallery {
  margin: 0 -475px;
  padding-bottom: 186px;
}

.main-gallery>h3 {
  margin-top: 92px;
  margin-bottom: 92px;
  text-align: center;
}

.main-gallery .table-gallery {
  margin: 0 auto;
}

.main-gallery tr:first-child {
  height: 376px;
} 

.main-gallery tr td:nth-child(even):not(:last-child) {
  padding-right: 30px;
}

.main-gallery tr:nth-child(2) td:not(:nth-child(even)) {
  max-width: 270px;
  background-color: #f7f7f7;
  text-align: center;
}

.main-gallery tr:nth-child(2) td {
  padding-bottom: 20px;
}

.main-gallery tr:nth-child(2) td:not(:nth-child(even)) h4 {
  font-size: 14px;
}

.main-gallery tr:nth-child(2) td:not(:nth-child(even)) div {
  border: 1px solid #f7f7f7;
  background-color: red;
  max-width: 130px;
  min-height: 30px;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 8px;
}

.main-gallery tr:nth-child(2) td:not(:nth-child(even)) a {
  font-weight: 700;
  text-decoration: none;
  color: black;
  padding: 8px 52px;
  
}

/*новости*/
.main-news {
  background-color: #f7f7f7;
  margin: 0 -475px;
  padding-bottom: 100px;
}

.main-news>h3 {
  padding-top: 92px;
  margin-bottom: 92px;
  text-align: center;
}

.main-news .news {
  float: left;
  width: 35%;
  margin-right: 20px;
}

.main-news .events {
  float: left;
  width: 62%;
}

.table-news {
  border-spacing: 20px 10px;
}

.table-news td:first-child {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 5%;
}

.table-news td:first-child span {
  font-size: 32px;
}

.table-news td:last-child {
  width: 30%;
}

.events li {
  list-style: none;
}

.img-events {
  display: inline-block;
}

.img-events li {
  float: left;
  padding-right: 10px;
}

.disc-events .full-disc {
  display: none;
}

.disc-events li {
  list-style-type: ">>";
  font-weight: 700;
  color: rgb(220, 82, 82);
}

.disc-events li:hover {
  background-color: #A8A8A8;
}

.disc-events li:hover .full-disc {
  display: inline;
  font-weight: 400;
  color: black;
}


/*футер*/
.footer {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  min-height: 71px;
}

.footer p {
  line-height: 71px;
}